---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
const actionUrl = "https://formspree.io/f/xzzdggwb"; // Reemplázalo con tu URL de Formspree

---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4385740960461087"
     crossorigin="anonymous"></script>
	</head>
	<body>
		<Header />

<form action={actionUrl} method="POST" class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md">
  <label class="block mb-2 font-semibold">Tu Correo:</label>
  <input type="email" name="email" required class="w-full p-2 border rounded-md">

  <label class="block mt-4 mb-2 font-semibold">Título:</label>
  <input type="text" name="titulo" required class="w-full p-2 border rounded-md">

  <label class="block mt-4 mb-2 font-semibold">Mensaje:</label>
  <textarea name="mensaje" required class="w-full p-2 border rounded-md h-32"></textarea>

  <button type="submit" class="mt-4 w-full bg-blue-500 text-white p-2 rounded-md">Enviar</button>
</form>

		  
		<Footer />
	</body>
</html>

