---
import { onMount } from "solid-js";
import { getCards } from "../utils/firestore"; // Asegúrate de que firestore.ts existe

let cards = [];

onMount(async () => {
    cards = await getCards();
});
---

<h1>Lista de Cartas</h1>
<ul>
    {cards.map((card) => (
        <li key={card.id}>{card.name}</li>
    ))}
</ul>
