---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import '../styles/global.css';

---
<header class="bg-gradient-to-r from-indigo-600 to-purple-600 shadow-md">
	<nav class="flex justify-between items-center p-4">
	  <!-- Logo centrado en móviles y tablets -->
	  <h2 class="flex-1 text-center sm:text-left">
		<a href="/">
		  <img src="/img/nothunlogo.png" alt="Logo del sitio" class="h-10 mx-auto sm:mx-0" />
		</a>
	  </h2>
  
	  <!-- Botón de menú hamburguesa en pantallas pequeñas -->
	  <div class="sm:hidden">
		<button id="menu-toggle" class="text-white">
		  <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
		  </svg>
		</button>
	  </div>
  
	  <!-- Enlaces del menú (para pantallas grandes) -->
	  <div class="hidden sm:flex space-x-4">
		<HeaderLink href="/" class="text-white transition-colors duration-300 hover:bg-indigo-700 active:bg-indigo-800 py-2 px-4 rounded">Home</HeaderLink>
		<HeaderLink href="/blog" class="text-white transition-colors duration-300 hover:bg-indigo-700 active:bg-indigo-800 py-2 px-4 rounded">Blog</HeaderLink>
		<HeaderLink href="/about" class="text-white transition-colors duration-300 hover:bg-indigo-700 active:bg-indigo-800 py-2 px-4 rounded">About</HeaderLink>
	  </div>
	</nav>
  
	<!-- Menú desplegable (para pantallas pequeñas) -->
	<div id="menu" class="sm:hidden hidden flex-col items-center bg-purple-800 w-full py-4 space-y-4 text-center">
	  <HeaderLink href="/" class="text-white w-full transition-colors duration-300 hover:bg-indigo-700 active:bg-indigo-800 py-2 px-4 rounded">Home</HeaderLink>
	  <HeaderLink href="/blog" class="text-white w-full transition-colors duration-300 hover:bg-indigo-700 active:bg-indigo-800 py-2 px-4 rounded">Blog</HeaderLink>
	  <HeaderLink href="/about" class="text-white w-full transition-colors duration-300 hover:bg-indigo-700 active:bg-indigo-800 py-2 px-4 rounded">About</HeaderLink>
	</div>
  
	<!-- Scripts -->
	<script>
	  const menuToggle = document.getElementById('menu-toggle');
	  const menu = document.getElementById('menu');
	
	  // Asegúrate de que los elementos existen antes de agregar el event listener
	  if (menuToggle && menu) {
		menuToggle.addEventListener('click', () => {
		  menu.classList.toggle('hidden');
		});
	  }
	</script>
  </header>
  